<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>UpdateProfile</title>
    <link rel="stylesheet" href="../../Content/CSS/VerticalNavBarStyle.css" />
    <link rel="stylesheet" href="../../Content/CSS/Style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script type="text/javascript" src="../../Content/JS/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../../Content/JS/Home/LoginCheck.js"></script>
    <script type="text/javascript" src="../../Content/JS/Profile/UpdateProfile.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="title">
                Alpha Enterprice LTD
            </div>
            <div class="subtitle"></div>
            <ul class="list-items">
                <li><a id="back" href="#"><i class="fas fa-arrow-left"></i>  Back</a></li>
                <li><a href="Index.html"><i class="fas fa-user"></i>  My Profile</a></li>
                <li><a href="UpdateProfile.html"><i class="fas fa-user-edit"></i>  Edit Profile</a></li>
                <li><a href="ChangePassword.html"><i class="fas fa-user-lock"></i>  Change Password</a></li>
                <li><a href="../Logout/Logout.html"><i class="fas fa-sign-out-alt"></i>  Logout</a></li>
            </ul>
        </nav>
    </div>
    <div id="workspace">
        <h2>UpdateProfile</h2>
        <br />
        <form enctype="multipart/form-data">
            <table id="view">
                <tr>
                    <td>Name:</td>
                    <td>
                        <input type="hidden" id="Id" name="Id"/>
                        <input type="text" id="Name" name="Name"/>
                        <span style="color:red;background-color:white" id="NameError"></span>
                    </td>
                </tr>
                <tr>
                    <td>User Name :</td>
                    <td>
                        <input type="text" id="UserName" name="UserName" readonly/>
                    </td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td>
                        <input type="text" id="Email" name="Email"/>
                        <span style="color:red;background-color:white" id="EmailError"></span>
                    </td>
                </tr>
                <tr>
                    <td>Gender :</td>
                    <td>
                        <input type="radio" id="Male" name="Gender" value="Male"/> Male
                        <input type="radio" id="Female" name="Gender" value="Female"/> Female
                        <input type="radio" id="Other" name="Gender" value="Other"/> Other
                    </td>
                    <br />
                    <span style="color:red;background-color:white" id="GenderError" >
                        
                    </span>
                </tr>
                <tr>
                    <td>Date Of Birth :</td>
                    <td>
                        <input type="date" id="DateOfBirth" name="DateOfBirth"/>
                        <span style="color:red;background-color:white" id="DateOfBirthError"></span>
                    </td>
                </tr>
                <tr>
                    <td>Address :</td>
                    <td>
                        <input type="text" id="Address" name="Address"/>
                        <span style="color:red;background-color:white" id="AddressError"></span>
                    </td>
                </tr>
                <tr id="VJoiningDate"></tr>
                <tr id="VJobId"></tr>
                <tr>
                    <td>Profile Status :</td>
                    <td>
                        <input type="text" id="Status" name="Status" readonly/>
                    </td>
                </tr>
                <tr>
                    <td>Profile Picture :</td>
                    <td>
                        <input type="file" id="Image" name="Image" />
                        <span style="color:red;background-color:white" id="ImageError"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="button" id="Update" value="Update" />
                        <input type="button" id="Reset" value="Reset"/>
                        <a href="Index.html">
                            <button type="button">
                                Back
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
        <div id="msg"></div>
    </div>
    <br>
</body>
</html>