<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link rel="stylesheet" href="../../Content/CSS/HorizontalNavBarStyle.css" />
    <link rel="stylesheet" href="../../Content/CSS/DivBackground.css" />
    <link rel="stylesheet" href="../../Content/CSS/Button.css" />
  </head>
  <body>
    <div id="navbar">
      <a href="Index.html">Home</a>
      <a href="Products.html">Products</a>
      <a href="About.html">About</a>
      <a href="Contact.html">Contact</a>
    </div>
    <div id="div">
      <div style="text-align: center">
        <h1 style="color: red">Contact</h1>
      </div>
      <br />
      <div style="text-align: center">
        <span style="color: black; background-color: white">
          Email: info@alphenterprice.ltd.com<br />
          Phone: 1-800-123-4567<br />
          Fax: 1-800-890-1234<br />
          Address: 1234 Main Street, Anytown, Bangladesh<br />
          <a href="#">http://www.facebook.com/alphenterprice.ltd </a><br />
          <a href="#">http://www.twitter.com/alphenterprice.ltd</a>
        </span>
      </div>
      <br />
    </div>
    <footer style="background-color: black">
      <span style="color: white">
        &copy; My ASP.NET MVC Application Alpha Enterprice Ltd.
      </span>
    </footer>
  </body>
</html>
