<!DOCTYPE html>
<link rel="stylesheet" href="../../Content/CSS/Style.css"/>
<script type="text/javascript" src="../../Content/JS/jquery-3.5.1.js"></script>
<script type="text/javascript" src="../../Content/JS/Home/LoginCheck.js"></script>
<script type="text/javascript" src="../../Content/JS/Home/ContactWithSupportForUnblock.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous"></script>
<style>
    body{
        width:50%;
        padding-left:20rem;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactWithSupportForUnblock</title>
</head>
<body>
<h2 align="center">Contact With Support For Unblock Account</h2>
<br />
<form>
    Request Subject:<br />
    <input type="text" id="RequestSubject" name="RequestSubject" value="Request to check my problem and unblock my account" readonly />
    <br />
    Request Body:<br />
    <textarea rows="5" cols="80" id="RequestBody" name="RequestBody"></textarea><br />
    <div>
        <span style="color:red;background-color:white" id="RequestBodyError">
        </span>
    </div>
    <input type="button" id="Send" value="Send">
    <a href="Login.html">
        <button type="button">
            Back
        </button>
    </a>
    <div></div>
</form>
</body>
</html>