<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="../../Content/CSS/HorizontalNavBarStyle.css" />
    <link rel="stylesheet" href="../../Content/CSS/DivBackground.css" />
    <link rel="stylesheet" href="../../Content/CSS/Button.css" />
  </head>
  <body>
    <div id="navbar">
      <a href="Index.html">Home</a>
      <a href="Products.html">Products</a>
      <a href="About.html">About</a>
      <a href="Contact.html">Contact</a>
    </div>
    <div id="div">
      <link href="../../Content/CSS/Style.css" rel="stylesheet" />
      <style>
        table {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 50%;
          overflow-x: auto;
        }
      </style>
      <h1 align="center" style="color: red">Registration</h1>
      <br />
      <div align="center">
        <form method="post" enctype="multipart/form-data">
          <table align="center" id="view">
            <tr>
              <td>Name:</td>
              <td>
                <input type="text" name="Name" />
                <span style="color: red; background-color: white"> </span>
              </td>
            </tr>
            <tr>
              <td>User Name :</td>
              <td>
                <input type="text" name="UserName" />
                <span style="color: red; background-color: white"> </span>
              </td>
            </tr>
            <tr>
              <td>Password :</td>
              <td>
                <input type="password" name="Password" />
                <span style="color: red; background-color: white"> </span>
              </td>
            </tr>
            <tr>
              <td>Confirm Password :</td>
              <td>
                <input type="password" name="CPassword" />
                <span style="color: red; background-color: white"> </span>
              </td>
            </tr>
            <tr>
              <td>Email :</td>
              <td>
                <input type="text" name="Email" />
                <span style="color: red; background-color: white"> </span>
              </td>
            </tr>
            <tr>
              <td>Gender :</td>
              <td>
                <input type="radio" name="Gender" value="Male" /> Male
                <input type="radio" name="Gender" value="Female" /> Female
                <input type="radio" name="Gender" value="Other" /> Other
                <br />
                <span style="color: red; background-color: white"> </span>
              </td>
            </tr>
            <tr>
              <td>Date Of Birth :</td>
              <td>
                <input type="date" name="DateOfBirth" />
                <span style="color: red; background-color: white"> </span>
              </td>
            </tr>
            <tr>
              <td>Address :</td>
              <td>
                <input type="text" name="Address" />
                <span style="color: red; background-color: white"> </span>
              </td>
            </tr>
            <tr>
              <td>Profile Picture :</td>
              <td>
                <input type="file" name="Image" />
                <span style="color: red; background-color: white"> </span>
              </td>
            </tr>
            <tr>
              <td>UserType :</td>
              <td>
                <select name="UserType">
                  <option value="">None</option>
                  <option value="Customer">Customer</option>
                  <option value="Vendor">Vendor</option>
                </select>
                <span style="color: red; background-color: white"> </span>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="submit" value="Submit" />
                <input type="reset" />
                <a href="Index.html">
                  <button type="button">Back</button>
                </a>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <footer style="background-color: black">
      <span style="color: white">
        &copy; My ASP.NET MVC Application Alpha Enterprice Ltd.
      </span>
    </footer>
  </body>
</html>
